
.board {
  display:grid;
  grid-template-columns: calc(0.25*var(--tile-size)) calc(8*var(--tile-size));
  position: relative;
  
}

.tiles{
  display: grid;
  grid-template-columns: repeat(8,var(--tile-size));
  grid-template-rows: repeat(8,var(--tile-size));
  width: calc(8*var(--tile-size));
  
}

.tile--light{
  background-color: var(--light-tile);
}

.tile--dark{
  background-color: var(--dark-tile);
}

.highlight:after {
  content: '';
  background: var(--highlight);
  width: calc(.5*var(--tile-size));
  height: calc(.5*var(--tile-size));
  display: block;
  left: 25%;
  top: 25%;
  border-radius: 50%;
  position: relative;
}

.attacking:after{
  content: '';
  border: 6px solid  var(--highlight);
  width: calc(0.85*var(--tile-size));
  height: calc(0.85*var(--tile-size));
  top: 5%;
  left: 2%;
  display: block;
  border-radius: 50%;
  position: relative;

}

.checked:after {
  content: '';
  background: var(--checked);
  width: var(--tile-size);
  height: var(--tile-size);
  display: block;
  left: 0%;
  top: 0%;
  border-radius: 20%;
  position: relative;
}