
.board {

}

.tiles{
  display: grid;
  grid-template-columns: repeat(8,var(--tile-size));
  grid-template-rows: repeat(8,var(--tile-size));
  width: calc(8*var(--tile-size));
}


.tile{

}

.tile--light{
  background-color: var(--light-tile);
}

.tile--dark{
  background-color: var(--dark-tile);
}