@import "./constants.css";

html,body{
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  background-color: var(--bg-color);
  height: 100vh;
  place-content: center;
}

button{
  background: var(--dark-tile);
  color: var(--light-tile);
  border: 0 none;
  padding: 10px 30px;
  font-size: 1.1em
}
button:hover{
 color: white;
}

body {
  overflow-y: hidden;
}
