:root {
  --tile-size: 100px;
  --light-tile:#F0D8B7;
  --dark-tile:#B48764;
  --bg-color:#202020;
  --highlight: rgba(100, 100, 100, 25%);
  --checked : #FEEC48;


}

@media all and (max-width: 450px) {
  :root {
    --tile-size: 40px;
  }
}